:root{--first-color : #1566C0
}

*{font-family: 'Roboto', sans-serif; 
font-family: 'Righteous', cursive;}

.imgheader {background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0)),
    url(/img/header-2.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;  
   }
.h1-container{
    margin-top: 100px;
    margin-left: 25px;
    color: white;
}
h1{font-size: 50px;
  font-family: 'Roboto', sans-serif;

}
.button-more{width: 100px;
    
    border-radius: 0%;


}
.wave1{
    position: absolute;
    bottom: 10px;
    overflow: hidden;
    
}
.wave2{
    position: absolute;
    bottom: 0px;
    overflow: hidden;
}
.card-1{background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.1)),
        url(/img/1.png);
        height: 40vh;      
        background-size: cover;
        color: white;
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px;
}
.card-2{background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.1)),
    url(/img/2.png);
    height: 40vh;      
    background-size: cover;
    color: white;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}
.card-3{background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0)),
    url(/img/3.png);
    height: 40vh;      
    background-size: cover;
    color: white;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}
.card-4{background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0)),
    url(/img/4.png);
    height: 40vh;      
    background-size: cover;
    color: white;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.h4-card{border-bottom: solid yellow;}

.text-card{font-size: small;
padding-top: 25px;}


.card-icon{
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: -5px 5px #dedede;
    }
.border-img{
    border: 2px solid #1566c0;
    border-radius: 50%;
    width: 205px;
    height: 205px;
}
.img-circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white
;

}
.border-end-1{
    border-right: #1566c0 3px solid;
}
.border-start-1{
    border-left: #1566c0 3px solid;

}
.point-blue{
        width: 20px;
        height: 20px;
        border: 2px solid #1566c0;
        border-radius: 50%;
}
.footer-img{
    background-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.5),rgba(0,0,0,0.5),rgba(0,0,0,1)) ,url(/img/footer.jpg);
    width: 100%;
    height: 80vh;
}


